# Altis
/wordpress
/index.php
/wp-config.php
/chassis
/vendor
/content/uploads
/content/plugins/*
/content/themes/*/vendor
/content/themes/*/node_modules
/content/mu-plugins/*/vendor
/content/mu-plugins/*/node_modules

# secrets / local
.env
.env.*
*.pem
*.key
/.config/php
